<div class="relative h-full">
  <ng-content></ng-content>
  <div
    class="absolute top-0 bottom-0 left-0 w-20 flex flex-col items-center justify-center hover:visible"
  >
    <button
      class="rounded-full bg-slate-200/[.5] p-4"
      (click)="prevClick.emit()"
    >
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M15 19l-7-7 7-7"
        ></path>
      </svg>
    </button>
  </div>
  <div
    class="absolute top-0 bottom-0 right-0 w-20 flex flex-col items-center justify-center hover:visible"
  >
    <button
      class="rounded-full bg-slate-200/[.5] p-4"
      (click)="nextClick.emit()"
    >
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5l7 7-7 7"
        ></path>
      </svg>
    </button>
  </div>
</div>
