<div class="flex flex-col min-h-0 h-screen overflow-hidden bg-gray-100">
  <nav class="flex gap-8 m-2">
    <a class="py-2 px-4 rounded bg-slate-200" routerLink="/ng2-pdf-viewer"
      >ng2-pdf</a
    >
    <a class="py-2 px-4 rounded bg-slate-200" routerLink="/syncfusion-pdfviewer"
      >Syncfusion</a
    >
    <a class="py-2 px-4 rounded bg-slate-200" routerLink="/ng2-pdfjs-viewer"
      >ng2-pdfjs</a
    >
    <a
      class="py-2 px-4 rounded bg-slate-200"
      routerLink="/ngx-extended-pdf-viewer"
      >ngx-extended</a
    >
    <div class="flex-grow text-right">
      <label for="pdfSelect" class="mr-2">Select PDF:</label>
      <select
        name="pdfSelect"
        class="py-2 px-4 rounded bg-slate-200"
        [(ngModel)]="pdfSelected"
      >
        <option *ngFor="let pdf of pdfOptions" [ngValue]="pdf">
          {{ pdf.label }}
        </option>
      </select>
    </div>
  </nav>
  <div class="grow">
    <router-outlet></router-outlet>
  </div>
</div>
